@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: Poppins;
}

section{
    min-height: 100vh;
    margin-left:8rem;
    margin-bottom: 200px;
    border:2px solid blue;
}

