.wrapper{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
    padding: 85px 300px 85px 0px;
    background-color: white;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
