h2{
    color:black;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 5px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    transition: color .35s ease-out;
    cursor: default;
    font-family: Poppins;
}
h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: 5px;
    height: 3px;
    width: calc(100% - 5px);
    background-color: #000;
    transition: .35s ease-out;
}