.heading{
    color:black;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.subheading{
    margin: 0 0 20px!important;
    font-size:20px!important;
    display:block;
    width:400px;
    padding:20px 0;
}

.extra{
    font-size: 15px;
    font-weight: 600;
}

.details{
    letter-spacing: 1px;
}